html,body{
    background-color: #fff !important;
}

.logo{
    width: 180px;
    height: 180px;
    background-color: #F5F5F9;
    }

.am-button{
        background-color: #00BC5B !important;
        color: #fff !important;
    }

.am-flexbox a{
    color:#00BC5B !important ;
}